<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    style
        include ../static/home.css
</head>
<body>
    <div class="r1box"><a href="/round1" class="r1" ><b>ROUND 1</b></a> </div>
    <div class="r2box"><a href="/round2" class="r2" ><b>ROUND 2</b></a></div>
</body>
</html>