<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    style
        include ../static/round2.css
    script
        include ../static/round2.js
  </head>
  <body>
    <h1>
      <u>Round2</u>
    </h1>
    <p id="qdisplay"></p>

    <div class="container">
      <!-- <div class="q">Question 1</div> -->
      <select id="ques" style="text-size-adjust: 3em" onchange="change()">
        <option value="Question 1" style="font-size: 2em">Question 1</option>
        <option value="Question 2" style="font-size: 2em">Question 2</option>
        <option value="Question 3" style="font-size: 2em">Question 3</option>
      </select>
      <br />
    </div>
    <div class="box">
      <button class="button" class="button" onclick="display_opt('text1')">
        <p id="text1">sadfadAsvd</p>
      </button>
    </div>
    <div class="box">
      <button class="button" onclick="display_opt('text2')">
        <div id="text2"></div>
      </button>
    </div>
    <div class="box">
      <button class="button" onclick="display_opt('text3')">
        <div id="text3">Bla bla</div>
      </button>
    </div>
    <div class="box">
      <button class="button" onclick="display_opt('text4')">
        <div id="text4">Bla bla</div>
      </button>
    </div>
    <div class="box1">
      <button class="button" onclick="display_opt('text5')">
        <div id="text5">Bla bla</div>
      </button>
    </div>
    <div class="box1">
      <button class="button" onclick="display_opt('text6')">
        <div id="text6">Bla bla</div>
      </button>
    </div>
    <div class="box1">
      <button class="button" onclick="display_opt('text7')">
        <div id="text7">Bla bla</div>
      </button>
    </div>
    <div class="box1">
      <button class="button" onclick="display_opt('text8')">
        <div id="text8">Bla bla</div>
      </button>
    </div>
  </body>
</html>

