<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    style
        include ../static/round1.css
    script
        include ../static/round1.js
</head>
<body>
    
    <div>
      <p class="Title">Round 1</p>
    </div>
    <div class="grid-container">
        <div class="grid-item" id="rowcolumn"><div class="heading">Category / Points</div></div>
        <div class="grid-item" id="row1"><div class="heading">Category 1</div></div>
        <div class="grid-item" id="row2"><div class="heading">Category 2</div></div>
        <div class="grid-item" id="row3"><div class="heading">Category 3</div></div>
        <div class="grid-item" id="row4"><div class="heading">Category 4</div></div>
        <div class="grid-item" id="column0"><div class="heading">100</div></div>
        <div class="grid-item" id="que1"><button class="quesbtn" onclick="q('qq1')">Question 01</button></div>
        <div class="grid-item" id="que2"><button class="quesbtn" onclick="q('qq2')">Question 02</button></div>
        <div class="grid-item" id="que3"><button class="quesbtn" onclick="q('qq3')">Question 03</button></div>
        <div class="grid-item" id="que4"><button class="quesbtn" onclick="q('qq4')">Question 04</button></div>
        <div class="grid-item" id="column1"><div class="heading">200</div></div>
        <div class="grid-item" id="que5"><button class="quesbtn" onclick="q('qq5')">Question 05</button></div>
        <div class="grid-item" id="que6"><button class="quesbtn" onclick="q('qq6')">Question 06</button></div>
        <div class="grid-item" id="que7"><button class="quesbtn" onclick="q('qq7')">Question 07</button></div>
        <div class="grid-item" id="que8"><button class="quesbtn" onclick="q('qq8')">Question 08</button></div>
        <div class="grid-item" id="column2"><div class="heading">300</div></div>
        <div class="grid-item" id="que9"><button class="quesbtn" onclick="q('qq9')">Question 09</button></div>
        <div class="grid-item" id="que10"><button class="quesbtn" onclick="q('qq10')">Question 10</button></div>
        <div class="grid-item" id="que11"><button class="quesbtn" onclick="q('qq11')">Question 11</button></div>
        <div class="grid-item" id="que12"><button class="quesbtn" onclick="q('qq12')">Question 12</button></div>
        <div class="grid-item" id="column4"><div class="heading">400</div></div>
        <div class="grid-item" id="que13"><button class="quesbtn" onclick="q('qq13')">Question 13</button></div>
        <div class="grid-item" id="que14"><button class="quesbtn" onclick="q('qq14')">Question 14</button></div>
        <div class="grid-item" id="que15"><button class="quesbtn" onclick="q('qq15')">Question 15</button></div>
        <div class="grid-item" id="que16"><button class="quesbtn" onclick="q('qq16')">Question 16</button></div>
    </div>
    <div class="team-dash">
        <div class="team" id="team1">
          <p>Team 1</p>
          <div class="score">
            <button class="teambutton" onclick="plusupdate('t1')">&#43;</button>
            <div id="score1">0</div>
            <button class="teambutton" onclick="minusupdate('t1')">&#8722;</button>
          </div>
        </div>
        <div class="team" id="team2">
            <p>Team 2</p>
            <div class="score">
              <button class="teambutton" onclick="plusupdate('t2')">&#43;</button>
              <div id="score2">0</div>
              <button class="teambutton" onclick="minusupdate('t2')">&#8722;</button>
            </div>
        </div>
        <div class="team" id="team3">
            <p>Team 3</p>
            <div class="score">
              <button class="teambutton" onclick="plusupdate('t3')">&#43;</button>
              <div id="score3">0</div>
              <button class="teambutton" onclick="minusupdate('t3')">&#8722;</button>
            </div>
        </div>
        <div class="team" id="team4">
            <p>Team 4</p>
            <div class="score">
              <button class="teambutton" onclick="plusupdate('t4')">&#43;</button>
              <div id="score4">0</div>
              <button class="teambutton" onclick="minusupdate('t4')">&#8722;</button>
            </div>
        </div>
        <div class="team" id="team5">
            <p>Team 5</p>
            <div class="score">
              <button class="teambutton"  onclick="plusupdate('t5')">&#43;</button>
              <div id="score5">0</div>
              <button class="teambutton" onclick="minusupdate('t5')">&#8722;</button>
            </div>
        </div>
        <div class="team" id="team6">
            <p>Team 6</p>
            <div class="score">
              <button class="teambutton"  onclick="plusupdate('t6')">&#43;</button>
              <div id="score6">0</div>
              <button class="teambutton" onclick="minusupdate('t6')">&#8722;</button>
            </div>
        </div>

    </div>
      <div class="popup" id="pop">
      <div class="titlepop">
        <p>Question</p>
      </div>
      <div class="quest">
        <p id="qest"></p>
      </div>
      
      
    </div>
  
</body>
</html>