body{
    background-image: url("../static/poster.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 100%;
}
.r1box{
    display: flex;
    justify-content: center;
    border-width: 0.22em;
    border-style: solid;
    border-color: black;
    /* font-family: cursive; */
    height: 3em;
    width: 23em;
    background-color: brown;
    position: absolute;
    left: 14em;
    top: 52em;

    
}
.r2box{
    display: flex;
    justify-content: center;
    border: 0.22em;
    border-style: solid;
    border-color: black;
    /* font-family: cursive; */
    height: 3em;
    width: 23em;
    background-color: brown;
    position: absolute;
    left: 93em;
    top: 52em;
    
}
.r1{
    text-decoration: none;
    text-align: center;
    font-size: xx-large;
    color: white;
}
.r2{
    text-decoration: none;
    text-align: center;
    font-size: xx-large;
    color: white;
}